@import "tailwindcss";
@import "tw-animate-css";
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(100.00% 0.000 89.88);
  --foreground: oklch(0.00% 0.000 0.00);
  --card: oklch(100.00% 0.000 89.88);
  --card-foreground: oklch(0.00% 0.000 0.00);
  --popover: oklch(100.00% 0.000 89.88);
  --popover-foreground: oklch(0.00% 0.000 0.00);
  --primary: oklch(37.60% 0.106 324.56);
  --primary-foreground: oklch(100.00% 0.000 89.88);
  --secondary: oklch(81.87% 0.067 113.46);
  --secondary-foreground: oklch(0.00% 0.000 0.00);
  --muted: oklch(32.11% 0.000 89.88);
  --muted-foreground: oklch(76.68% 0.000 89.88);
  --accent: oklch(63.45% 0.106 132.09);
  --accent-foreground: oklch(0.00% 0.000 0.00);
  --destructive: 0 85% 60%;
  --destructive-foreground: oklch(0.00% 0.000 0.00);
  --border: oklch(100% 0.00011 271.152);
  --input: oklch(32.11% 0.000 89.88);
  --ring: oklch(57.55% 0.097 132.28);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.00% 0.000 0.00);
  --foreground: oklch(100.00% 0.000 89.88);
  --card: oklch(0.00% 0.000 0.00);
  --card-foreground: oklch(100.00% 0.000 89.88);
  --popover: oklch(0.00% 0.000 0.00);
  --popover-foreground: oklch(100.00% 0.000 89.88);
  --primary: oklch(76.65% 0.093 323.98);
  --primary-foreground: oklch(0.00% 0.000 0.00);
  --secondary: oklch(49.98% 0.072 114.66);
  --secondary-foreground: oklch(100.00% 0.000 89.88);
  --muted: oklch(84.52% 0.000 89.88);
  --muted-foreground: oklch(100.00% 0.000 89.88);
  --accent: oklch(70.19% 0.105 132.30);
  --accent-foreground: oklch(0.00% 0.000 0.00);
  --destructive: 0 62% 30%;
  --destructive-foreground: oklch(21.78% 0.000 89.88);
  --border: oklch(100% 0.00011 271.152 / 0.152);
  --input: oklch(84.52% 0.000 89.88);
  --ring: oklch(74.19% 0.093 131.69);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grain:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 75;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
